* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}
.TournamentsDetails {
	margin-top: 3rem;
}
.Card-map {
	display: flex;
	justify-self: center;
	align-items: center;
	height: 30rem;
	width: 100%;
}
.Here-you-go {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Edu NSW ACT Cursive", cursive;
}
