@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}
.Home-img {
	padding: 1rem;
	height: 25rem;
	width: 70rem;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 15%;
}
.home-text {
	position: absolute;
	top: 2rem;
	left: 3rem;
	color: yellow;
	z-index: 2;
	width: 10rem;
}
.TIME {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	font-size: 0.8rem;
}
.LOCATION {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	font-size: 0.8rem;
}
.CALENDER {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	font-size: 0.8rem;
}
.TIME-LOC-CAL {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0rem;
	font-family: "Roboto Mono", monospace;
	font-size: 0.6rem;
	background: linear-gradient(to left, pink, blue);
	overflow: hidden;
}
.Buy-Ticket {
	background: linear-gradient(to left, pink, blue);
	margin-top: 1rem;
	margin-left: 3rem;
	border-radius: 15%;
	color: black;
	transition: all 0.3s ease-out;
	border: none;
}
.Buy-Ticket:hover {
	transform: scale(1.1);
}

.Home-slidebar {
	margin-top: 2rem;
	/* height: 100vh; */
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-img-div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* TOP BRANDS */
.Top-bands {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Bitcount Prop Double", system-ui;
}

.brand-img-div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 10rem;
	margin: 1rem;
}
.brand-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}
.brand-photo:hover {
	transform: scale(1.2);
}
.brand-name {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	font-family: "Signika Negative", sans-serif;
}
/* UPCOMMING EVENTS AND FESTIVALS */
.Main-event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.UPCOMMING-EVENTS {
	background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);
	border-top-left-radius: 60%;
}
.UPCOMMING-TITLE {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Edu NSW ACT Cursive", cursive;
	font-size: 2rem;
}
.SOON-TITLE {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Edu NSW ACT Cursive", cursive;
}
.Small-cards {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 480px) {
	.Home-img {
		padding: 1rem;
		height: 25rem;
		width: 20rem;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.home-text {
		position: absolute;
		top: 2rem;
		left: 0rem;
		color: yellow;
		z-index: 2;
		width: 10rem;
		font-size: 0.7rem;
	}
	.brand-img-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.brand-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 10rem;
		width: 9rem;
		margin: 1rem;
	}
	.brand-photo {
		display: flex;
		justify-content: center;
		align-items: center;
		object-fit: cover;
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
	}
	.brand-name {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		margin-top: 1rem;
	}
	.TIME-LOC-CAL {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1.5rem;
		font-family: "Roboto Mono", monospace;
		font-size: 0.6rem;
		background: linear-gradient(to left, pink, blue);
		overflow: hidden;
		margin-top: 0rem;
	}
	.TIME {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		font-size: 0.8rem;
		margin-left: 1.5rem;
		margin-top: 0rem;
	}
	.LOCATION {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		font-size: 0.8rem;
		margin-left: 1.5rem;
		margin-top: 0rem;
	}
	.CALENDER {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		font-size: 0.8rem;
		margin-left: 1.5rem;
		margin-top: 0rem;
	}
}
/* @media screen and (max-width: 768px) {
	.Home-img {
		padding: 1rem;
		height: 25rem;
		width: 70rem;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}
} */
