@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Signika Negative", sans-serif;
	/* background-color: #f0f0f0; */
	/* border: 1px solid red; */
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav_logo {
	font-family: "Shadows Into Light", cursive;
	font-size: 2rem;
}
.nav_search {
	height: 2rem;
	width: 15rem;
	border-radius: 15%;
}
.nav-link {
	color: black;
}
.event-select {
	border: none;
}
.Burger {
	display: none;
}
/* Footer */
.Footer {
	border-radius: 20%;
	background-color: #0b2d59; /* Navy blue */
	color: #ffffff;
}
.Footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}
.Footer-logo-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Footer-copyright-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Footer-contact-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.Footer-icon {
	margin-top: 1rem;
}

@media screen and (max-width: 480px) {
	/* Mobile styles here */
	.Burger {
		display: block;
		position: absolute;
		top: 3.55rem;
		display: block;
		left: 47vh;
	}

	.navbar {
		display: none;
	}
	.mob {
		display: flex;
		flex-direction: column;
		width: 10rem;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 5rem;
		left: 14.5rem;
		z-index: 10000;
		height: 100%;
		backdrop-filter: blur(20px);
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-link {
		color: black;
		margin-top: -0.5rem;
	}
	.event-select {
		background-color: rgba(0, 0, 0, 0.5); /* black at 50% opacity */
	}
}
